body {
    font-family: Calibri, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.container {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #0056b3;
}

#signatureOutput {
    margin-top: 20px;
}


#signatureOutput table {
    width: 650px;
    border-collapse: collapse;
}

#signatureOutput table tr:nth-child(2) td {
    border-top: 0.5pt solid #38B6AB; /* Adiciona uma borda preta apenas na linha entre a linha 1 e linha 2 */
}

#signatureOutput table td {
    padding: 10px; /* Adiciona um espaçamento interno */
}

.coluna1 {
    border-color: transparent; /* Remove a cor do border */
}

.name16 {
    font-size: 16pt;
    color: #38B6AB;
}

.toTop {
    vertical-align: bottom !important;
}

td {
    color: #70706f;
}

button {
    display: block; /* Certifica-se de que o botão ocupa toda a largura do contêiner */
    margin: 20px auto; /* Margem superior e inferior de 20px e margem lateral automática para centralizá-lo horizontalmente */
}

.containerLabel {
    display: flex; /* Altera o layout para flexbox */
    flex-wrap: nowrap; /* Permite que os elementos quebrem para a próxima linha se não couberem em uma linha */
    
}


#department, #operation, #corporatePhone {
    font-size: 10px;
}


.phoneMiddle {
    display: flex; /* Altera o layout para flexbox */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha se não couberem em uma linha */
    justify-content: center;
    margin: 10px;
}

#corporatePhoneDDD {
    width: 50px;
    margin-right: 20px;
}

#corporatePhoneNumber {
    width: 150px;
}

