body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#signatureOutput {
    margin-top: 20px;
}


#signatureOutput table {
    width: 650px;
    border-collapse: collapse;
}

#signatureOutput table tr:nth-child(2) td {
    border-top: 0.5pt solid #38B6AB; /* Adiciona uma borda preta apenas na linha entre a linha 1 e linha 2 */
}

#signatureOutput table td {
    padding: 10px; /* Adiciona um espaçamento interno */
}

.coluna1 {
    border-color: transparent; /* Remove a cor do border */
}

.name16 {
    font-size: 16pt;
    color: #38B6AB;
}

.toTop {
    vertical-align: bottom !important;
}

td {
    color: #70706f;
}

